<h2>Your chats</h2>
<% if @chatrooms.length != 0 %>
  <div class="cards">
    <% @chatrooms.each do |chatroom| %>
      <%= link_to(chatroom_path(chatroom)) do %>
        <div class="card-product">
          <% @other_user = chatroom.user_one == current_user ? chatroom.user_two : chatroom.user_one %>
          <% if @other_user.photo.key %>
            <%= cl_image_tag(@other_user.photo.key) %>
          <% else %>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          <% end %>
          <div class="card-product-infos">
            <h2><%= @other_user.first_name %></h2>
            <% if chatroom.messages.last %>
              <p><%= chatroom.messages.last.content %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% else %>
    <p>You have no chats yet</p>
<% end %>
