    <footer class="footer">
      <div class="container">
        <i class="fa-regular fa-location-dot"></i>
        <span>Home</span>
        <i class="fa-regular fa-bookmark"></i>
        <span>Saved</span>
        <span>Notifications</span>
        <i class="fa-regular fa-bell"></i>
      </div>
    </footer>
