<div class="footer">
  <div class="footer-links">
    <a href="#">Home<i class="fa-solid fa-location-dot"></i></a>
    <a href="#">Saved<i class="fa-regular fa-bookmark"></i></a>
    <a href="#">Notifications<i class="fa-regular fa-bell"></i>
  </div>
</div>
