<div class="navbar px-3">
  <h1>DefendHer RUN</h1>
  <div class="actions">
    <%= link_to("Messages", chatrooms_path) %>
    <%= link_to("", user_path(current_user), class: "fa-solid fa-user") %>
  </div>

</div>
