<div class="container1">
  <h1>Friends</h1>
</div>

<div class="container2">
  <% @friendships.each do |friendship| %>
    <% friend = friendship.friend(current_user) %>
    <%= link_to user_path(friend) do %>
      <div class="friends">
        <div class="photo">
          <%= cl_image_tag(friend.photo.key, id: "profile") %>
        </div>
        <div class="name">
          <h2><%= friend.first_name %>
          <%= friend.last_name %></h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
