<div class="h1">Friendships index</div>

    <% @friendships.each do |friend_id| %>
    <%= link_to user_path(friend_id) do %>
    <% user = User.find(friend_id) %>
    
    <h2><%= user.first_name %>
    <%= user.last_name %></h2>
  <% end %>
<% end %>

