<h1>Run Safer, Together</h1>
<h4>Find a friend to run with!</h4>
<div class="container">
  <% @friendships.each do |user| %>
    <%= link_to user_path(user) do %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>

        <div class="card-product-infos">
          <h2><%= user.first_name %> <%= user.last_name %></h2>
          <p><%= user.running_level %> Runner</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
