<div class="conatiner">
  <h1>Notifications</h1>
</div>

<%= link_to "some_path" do %>
    <div class="d-flex align-items-center" id="button1">
        <div>
            <h3 id="alert-type">New Message</h3>
            <div class="d-flex">
                <div>  
                    <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" id="profile">
                </div>
                <div>
                    <p class="p1">Tom Mc'Pickle</p>
                    <p class="p2">text...</p>
                </div>
            </div>
        </div>
    </div>
<% end %>

<%= link_to "some_path" do %>
    <div class="d-flex align-items-center" id="button1">
        <div>
            <h3 id="alert-type">New Message</h3>
            <div class="d-flex">
                <div>  
                    <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" id="profile">
                </div>
                <div>
                    <p class="p1">Tom Mc'Pickle</p>
                    <p class="p2">text...</p>
                </div>
            </div>
        </div>
    </div>
<% end %>

<%= link_to "some_path" do %>
    <div class="d-flex align-items-center" id="button1">
        <div>
            <h3 id="alert-type">New Message</h3>
            <div class="d-flex">
                <div>  
                    <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" id="profile">
                </div>
                <div>
                    <p class="p1">Tom Mc'Pickle</p>
                    <p class="p2">text...</p>
                </div>
            </div>
        </div>
    </div>
<% end %>

