.footer {
  background: pink;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  color: rgba(0,0,0,0.3);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footer-links {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: green;
  p {
    line-height: 0;
  }
}

.footer-links a {
  color: green;
  opacity: 0.50;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
  text-align: center;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: green;
}
