.container1 {
  text-align: center;
  margin-bottom: 20px;
}

.card-product-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-product-link {
  text-decoration: none;
  color: inherit;
}

.card-product {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 380px;
  text-align: left;
}

.card-product-img {
  margin-right: 15px;
}

.card-product-img img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card-product-info h2 {
  font-size: 1.25rem;
  margin: 0 0 5px;
}

.card-product-info p {
  font-size: 0.9rem;
  color: #666;
}
