.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.card-title {
  font-size: 1.25rem;
}

.card-body {
  padding: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
