// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// Your CSS partials
@import "components/index";
@import "components/friends_index";
@import "components/updates";

.jumbotron {
  min-height: 100vh;
  padding-top: 20px;
  margin-bottom: 0;
  padding-bottom: 20px;
}
